Download the dataset from [here](https://drive.google.com/file/d/1dVbihPJFSh6sqUkOZBQHyTFZBHPowLPc/view?usp=sharing)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [4]:
path = '/content/drive/MyDrive/Data/ecommerce.csv'  # path of the dataset 

df = pd.read_csv(path)  # reads data and stores as dataframe

In [ ]:
df

**Check the head of the DataFrame.**

In [7]:
df.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  ...          98.14
1  9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  ...          70.73
2                 Unit 0065 Box 5052\r\nDPO AP 27450  ...           0.95
3            7780 Julia Fords\r\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...  ...          77.82

[5 rows x 14 columns]

** How many rows and columns are there? **

In [17]:
df.shape

(10000, 14)

In [15]:
"Rows=" + str(df.shape[0]) + " Columns=" + str(df.shape[1])

'Rows=10000 Columns=14'

** What is the average Purchase Price? **

In [16]:
df['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [19]:
df['Purchase Price'].max()

99.99

In [20]:
df['Purchase Price'].min()

0.0

** How many people have the job title of "Lawyer" ? **

In [22]:
len(df.loc[df['Job'] == 'Lawyer'])

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [23]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [24]:
df['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [26]:
df[df['Lot']=="90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [28]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [29]:
len(df[(df['CC Provider']=="American Express") & (df['Purchase Price']>95)])

39

** Hard: How many people have a credit card that expires in 2025? **

In [36]:
c = 0
for i in range(len(df)):
  if df['CC Exp Date'][i][3:5] == "25":
    c += 1
c

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [44]:
def popular_emails(email):
  x = email.split('@')
  return x[-1]

df['Email'].apply(popular_emails).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!